In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="01021592414ahmed",
  database="Testing_project"
)

#mycursor=mydb.cursor("show databases")
# for i in mycursor:
#     print(i)
mycursor=mydb.cursor()
#mycursor.execute("show databases")
#mycursor.execute("insert into bank (Bank_code,Address,Name) values (1,'fdfd54','ajkgg'),(2,'fdfd54','ajkgg'),(3,'fdfd54','ajkgg')")
#mydb.commit()
#for i in mycursor:
 #    print(i)

#--------------- bank table insertion ---------------------------
query="insert into bank (Bank_code,Address,Name) values "
for i in range(1,1000001):
    query+="("+str(i)+", 'cairo,street "+str(i)+"', 'bank_"+str(i)+"')"
    if i!=1000000:
        query+=","
mycursor.execute(query)
mydb.commit()

In [5]:
#--------------- branch table insertion ---------------------------
query="insert into branch values "
for i in range(1,1000001):
    query+="("+str(i)+", 'branch_"+str(i)+"', 'cairo,street "+str(i)+"',"+str(i)+")"
    if i!=1000000:
        query+=","
mycursor.execute(query)
mydb.commit()
#print(query)

In [6]:
#--------------- Loan table insertion ---------------------------
query="insert into Loan values "
for i in range(1,1000001):
    query+="("+str(i)+", "+str(i%2)+", "+str(i)+", "+str(i)+")"
    if i!=1000000:
        query+=","
mycursor.execute(query)
mydb.commit()
#print(query)

In [7]:
#--------------- Account table insertion ---------------------------
query="insert into Account values "
for i in range(1,1000001):
    query+="("+str(i)+", "+str(i%2)+", "+str(i)+", "+str(i)+")"
    if i!=1000000:
        query+=","
mycursor.execute(query)
mydb.commit()
#print(query)

In [8]:
#--------------- customer table insertion ---------------------------
query="insert into customer values "
for i in range(1,1000001):
    query+="("+str(i)+", 'Ahmed_"+str(i)+"',"+str(i)+", 'Giza,street"+str(i)+"')"
    if i!=1000000:
        query+=","
mycursor.execute(query)
mydb.commit()
#print(query)

In [9]:
#--------------- Hold_by table insertion ---------------------------
query="insert into Hold_by values "
for i in range(1,1000001):
    query+="("+str(i)+", "+str(i)+")"
    if i!=1000000:
        query+=","
mycursor.execute(query)
mydb.commit()
#print(query)

In [10]:
#--------------- Availed_by table insertion ---------------------------
query="insert into Availed_by values "
for i in range(1,1000001):
    query+="("+str(i)+", "+str(i)+")"
    if i!=1000000:
        query+=","
mycursor.execute(query)
mydb.commit()
#print(query)

In [63]:
import mysql.connector
from time import time

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="01021592414ahmed",
  database="Testing_project"
)
mycursor=mydb.cursor()

In [12]:
mycursor.reset()

query1='''select SQL_NO_CACHE * from bank b CROSS JOIN branch h 
CROSS join Account a where b.Bank_code=h.Bank_code and a.Bno=h.Branch_id;'''

query2='''select  SQL_NO_CACHE * from Account a  
INNER JOIN branch h on a.Bno=h.Branch_id 
INNER JOIN bank b on b.Bank_code=h.Bank_code;'''

tic = time()
mycursor.execute(query1)
toc = time()
print (toc - tic)

mycursor.reset()
tic = time()
mycursor.execute(query2)
toc = time()
print (toc - tic)

0.0028917789459228516
0.002023935317993164

In [17]:
mycursor.reset()

query1='''select SQL_NO_CACHE c.Name, l.Bno,l.Amount from customer c 
CROSS join Availed_by a  CROSS JOIN Loan l where a.Cust_no=c.Customer_ID and a.Loan_no=l.Loan_id;'''

query2='''SELECT SQL_NO_CACHE c.Name,l.Bno,l.Amount from ((SELECT loan_id,Bno,Amount from Loan) l 
INNER join (SELECT cust_no,loan_no from Availed_by) a on l.loan_id=a.loan_no 
INNER JOIN (SELECT Customer_ID, Name from customer) c on c.Customer_ID=a.cust_no);'''


tic = time()
mycursor.execute(query1)
toc = time()
print (toc - tic)

mycursor.reset()
tic = time()
mycursor.execute(query2)
toc = time()
print (toc - tic)

0.006767749786376953
0.0041959285736083984

In [24]:
mycursor.reset()

query1='''select SQL_NO_CACHE a.Account_No, a.Balance,c.Name,c.Phone_Number, h.Acc_No,h.Cust_no from Account a 
CROSS JOIN Hold_by h CROSS JOIN customer c where h.Cust_no=c.Customer_ID and a.Account_No=h.Acc_No;'''

query2='''SELECT SQL_NO_CACHE a.Account_No,a.Balance,c.Name,c.Phone_Number,h.Acc_no,h.cust_no from
((select Customer_ID, Name,Phone_Number from customer) c 
INNER JOIN (SELECT Acc_no, cust_no from Hold_by) h on c.Customer_ID=h.cust_no) 
INNER JOIN (select Account_No,Balance from Account) a on a.Account_No=h.Acc_no;'''


tic = time()
mycursor.execute(query1)
toc = time()
print (toc - tic)

mycursor.reset()
tic = time()
mycursor.execute(query2)
toc = time()
print (toc - tic)

0.0072896480560302734
0.0029838085174560547

In [67]:
mycursor.reset()
tic = time()
mycursor.execute("CALL query_1();")
toc = time()
print (tic-toc)

0.001993757537299647

In [32]:
mycursor.reset()
tic = time()
mycursor.execute("CALL query_2();")
toc = time()
print (toc - tic)

0.003154277801513672

In [68]:
mycursor.reset()
tic = time()
mycursor.execute("CALL query_3();")
toc = time()
print (toc - tic)

0.0023899925661229615

In [36]:
mycursor.reset()

query1='''select * from bank b CROSS JOIN branch h CROSS join Account a where b.Bank_code=h.Bank_code and a.Bno=h.Branch_id;'''

tic = time()
mycursor.execute(query1)
toc = time()
print (toc - tic)

0.002511262893676758

In [53]:
mycursor.reset()

query1='''select SQL_NO_CACHE c.Name, l.Bno,l.Amount from customer c 
CROSS join Availed_by a  CROSS JOIN Loan l where a.Cust_no=c.Customer_ID and a.Loan_no=l.Loan_id;'''

tic = time()
mycursor.execute(query1)
toc = time()
print (toc - tic)

0.005319118499755859

In [48]:
mycursor.reset()

query1='''select SQL_NO_CACHE a.Account_No, a.Balance,c.Name,c.Phone_Number, h.Acc_No,h.Cust_no from Account a 
CROSS JOIN Hold_by h CROSS JOIN customer c where h.Cust_no=c.Customer_ID and a.Account_No=h.Acc_No;'''

tic = time()
mycursor.execute(query1)
toc = time()
print (toc - tic)

0.0012979507446289062